:root {
    --dark: #222222;
    --darkPurple: #763DA5;
    --lightPurple: #CFACD6;
    --palePurple: #51456B;
    --pink: #EB8DAF;
    --darkBlue: #296BC5;
    --lightBlue: #7CB8D1;
    --black: #1a181f;
    --light-grey: #d5d3db;
    --white: #fefeff;
    --primary: #786dff;
    --sky-blue: #20d1fd;
    --black-purple: #332f3d;
    --black-lighter: #131019;
    --matte: #2c2c2c;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black-lighter) !important;
}

/* NABAR */
/*----------------------------------------------*/
nav {
    padding: 1.2vw 0vw 1.2vw 5vw;
    display: inline-flex;
    width: 96vw;
    /*  background-color: var(--bg-200);*/
    /* margin: 2vw 1vw 0vw 1vw; */
    /* border-radius: 3vw; */
}

nav * {
    background-color: transparent !important;
}

nav.span {
    height: 2vw;
}

#nav-links {
    margin: auto;
    float: right;

}

.nav-link+.nav-link {
    margin-left: 1vw;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    font-size: 1vw;
    padding: 10px;
    height: 20%;
}

#nav-title-holder {
    margin: auto auto auto 2vw;
    color: #f2f2f2;

}

#nav-logo-holder {
    margin: auto 0 auto 0;
}



/* GALLERY */
/*----------------------------------------------*/
.container {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 5vw;
}

.thumbnails {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    /* Wrap images into rows */
    justify-content: center;
    /* Center images horizontally */
    align-items: center;
    /* Align images vertically within the container */
}

.row {
    width: 100%;
    display: block;
    /* flex-direction: row; 
    justify-content: space-between;  */
}

.thumbnails img {
    margin: 0vw;
    border-radius: 0.2vw;
}

.thumbnails img:hover {
    opacity: 0.7;
}

.main-image {

    position: relative;
    margin-bottom: 20px;

    img {
        height: 15vw;
        width: 15vw;
        border-radius: 0.2vw;

    }
}

.back-button {
    text-align: center;
}

.back-button button {
    margin: 0.5vw 0 0 0.5vw;
    width: 1.5vw !important;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.1vw;
}

#next {
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translate(0, -50%);
}

#prev {
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translate(0, -50%);
}

#logo {
    width: 2vw !important;
}

.container button {
    background-color: #f2f2f2;
    border: none !important;
    border-radius: 2vw;
    font-weight: bold;
    color: var(--dark);
}

/*  Section 1: About Us  */

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 30px;
}


.left-half,
.right-half {
    width: 45%;
    margin: 25px;
}


.about-section h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}

.about-section h1 span {
    color: white;
}


.about-section h1 span:last-child {
    background-image: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    color: transparent;
    /* Set text color to transparent */
}

.about-section h5 {
    margin-top: 10px;
    margin-bottom: 20px;
    /* Add margin to the bottom for spacing */
    color: white;
    font-weight: normal;
    /* Set font weight to normal */
    letter-spacing: 1.5px;
    /* Adjust letter spacing as needed */
    line-height: 1.5;
    /* Adjust the line height as needed */
}

.about-section button {
    background-color: var(--darkPurple);
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px var(--darkPurple);
    /* Neon light effect */
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    /* Adjust the font size as needed */
}

.about-section button:hover {
    background-color: lighten(var(--darkPurple), 10%);
    box-shadow: 0 0 40px rgba(173, 216, 230, 1), 0 0 80px rgba(173, 216, 230, 1);
    /* Adjust the color and spread as needed */
}

/*  Section 2: Our Vision  */

#vision-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    /* Adjust the height based on your needs */
    text-align: center;
}

#vision-section h4 {
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

#vision-section h2 {
    background: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    /* Clip the background to the text */
    color: transparent;
    margin: 0;
    padding: 20px;
    font-size: 1.8em;
}



/* Add this to your existing CSS file */

.services-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* Arrange children in a column */
    align-items: flex-start;
    /* Align children to the start of the flex container */
}

.services-section h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.services-section .Our {
    color: white;
}

.services-section .Services {
    background: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    color: transparent;
}

.services-section h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 0;
}

/* service boxes */
.service-boxes {
    display: flex;
    justify-content: center;
    /* Center the boxes horizontally */
    align-items: center;
    /* Center the boxes vertically */
    flex-wrap: wrap;
    /* Allow boxes to wrap to the next line */
    margin-top: 50px;
    /* Add margin at the top if needed */
    margin-left: 20px;
}

.service-box {
    width: 300px;
    /* Set the desired width */
    height: 300px;
    /* Set the desired height */
    border-radius: 50px;
    padding: 20px;
    /* Add padding for space inside the boxes */
    text-align: center;
    /* Center text inside the boxes */
    margin: 0 15px 20px;
    /* Add margin between each box and at the bottom of each box */
    background-color: #2f2f2f;
}

.icon-box {
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    /* Set a transparent border to preserve space for the border */
    border-radius: 30px;
    overflow: hidden;
    /* Ensure the gradient border is contained within the box */
    position: relative;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 100px;
}

.icon-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-image: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    border-image-slice: 1;
    border-radius: 30px;
    box-sizing: border-box;
    /* Include the border in the element's dimensions */
}

.icon-box i {
    font-size: 24px;
    color: white;
    z-index: 1;
    /* Place the content above the pseudo-element */
}

.service-box p {
    color: white;
    margin: 20px;
}

/* --- team-section ---*/

/* styles.css */

.team-section {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Arrange children in a column */
    align-items: center;
    /* Center children horizontally */
    justify-content: center;
    /* Center children vertically */
}

.team-section h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
    /* Set text color to white */
}

.team-section .Our {
    color: white;
}

.team-section .Team {
    background: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    color: transparent;
}

.team-section h4 {
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
}

.team-cards {
    display: flex;
    justify-content: center;
    /* Center the boxes horizontally */
    align-items: center;
    /* Center the boxes vertically */
    flex-wrap: wrap;
    /* Allow boxes to wrap to the next line */
    margin-top: 50px;
    /* Add margin at the top if needed */
    margin-left: 20px;
}

.team-card {
    width: 500px;
    /* Set the desired width */
    height: 200px;
    /* Set the desired height width */
    border-radius: 50px;
    padding: 20px;
    /* Add padding for space inside the boxes */
    text-align: left;
    /* Align text to the left */
    margin: 0 15px 20px;
    /* Add margin between each box and at the bottom of each box */
    background-color: #2f2f2f;
    display: flex;
    /* Use flexbox to control the layout */
}

.team-card img {
    max-width: 100%;
    border-radius: 50%;
    margin-right: 20px;
    /* Add margin to separate the image from the text */

}

.team-info {
    flex: 1;
    /* Allow the info to take the remaining space */
    text-align: center;
    margin-top: 15px;
    margin-left: 50px;
}

.team-info h4 {
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 10px;
    margin-bottom: 30px;
    color: white;
    /* Set the color to white */
}

.social-icons i {
    font-size: 24px;
    /* Set the desired font size */
}


.team-info button {
    background-color: #2f2f2f;
    color: var(--lightBlue);
    border: 3px solid var(--lightBlue);
    /* Set border color */
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 10px;
    /* Adjust the font size as needed */
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
        text-align: center;
    }

    .left-half,
    .right-half {
        width: 100%;
    }
}

/* -- Resume page */

.team-container {
    margin: 20px;
    margin-top: 70px;

}

.team-container h1 {
    font-size: 45px;
    color: white;
    /* Set text color to white */
    text-align: center;
}

.team-container .Team {
    color: white;
}

.team-container .Resume {
    background: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    color: transparent;
}

.team-container h4 {
    color: white;
    text-align: center;
    margin-bottom: 80px;

}

.resume-section {
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10px auto;
    /* Set margin auto to center horizontally */
    position: relative;
    width: 1000px;
    text-align: center;
    margin-bottom: 50px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-section .icon-box {
    margin-top: 250px;
    margin-bottom: 10px;
    margin-left: 150px;
}

.left-section .icon-box i {
    font-size: 24px;
}

.left-section h3 {
    color: white;
    text-align: center;
    margin-left: 110px;


}

.left-section p {

    color: white;
    text-align: center;
    margin-left: 120px;
    margin-top: -10px;


}

.line-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    border-left: 2px solid #fff;
    height: 80%;
    /* Adjust the height as needed */
    margin-top: 500px;
}


.line-dividerr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    border-left: 2px solid #fff;
    height: 80%;
    /* Adjust the height as needed */
    margin-top: 1250px;
    z-index: 1;
    /* Ensure the line-divider is on top */
}


.right-section {
    flex: 1;
    text-align: right;
    margin: 40px;
    margin-left: 0px;
    margin-right: 100px;
}

.right-section object {
    width: 80%;
    height: 600px;
}

/* Team Member 2 */
.resume-section.team-member-2 {
    position: relative;
    /* Add relative positioning to the parent */
    flex-direction: row-reverse;
    /* Reverse the flex direction for Team Member 2 */
}

.resume-section.team-member-2 .left-section {
    align-items: flex-end;
    /* Align items to the end of the column for Team Member 2 */
}

.resume-section.team-member-2 .left-section .icon-box {
    margin-top: 250px;
    margin-bottom: 10px;
    margin-right: 150px;
    /* Adjust margin-right for Team Member 2 */
}

.resume-section.team-member-2 .left-section h3 {
    color: white;
    text-align: center;
    margin-right: 110px;
    /* Adjust margin-right for Team Member 2 */
}

.resume-section.team-member-2 .left-section p {
    color: white;
    text-align: center;
    margin-right: 110px;
    margin-top: -10px;
}

.resume-section.team-member-2 .right-section {
    text-align: left;
    /* Align text to the left for Team Member 2 */
    margin: 40px;
    margin-left: 100px;
    margin-right: 0;
}

.resume-section.team-member-2 .right-section object {
    width: 100%;
    height: 600px;
}

/* ---video page  --- */

.video-container {
    text-align: center;
    margin: 20px;
    margin-top: 70px;
}

.video-container h1 {
    font-size: 45px;
    color: white;
    /* Set text color to white */
    text-align: center;
}

.video-containerr .Our {
    color: white;
}

.video-container .Video {
    background: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    color: transparent;
}

.video-container h4 {
    color: white;
    text-align: center;
    margin-bottom: 80px;

}

.video-wrapper {
    position: relative;
}

.line-left,
.line-bottom {
    width: 50%;
    position: absolute;
}

.line-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15%;
    border-left: 4px solid #fff;
    height: 75%;
    /* Adjust the height as needed */
    margin-top: 417px;
    border-image: linear-gradient(to bottom, var(--lightBlue), var(--darkPurple)) 1;
}

.line-bottom {
    border-bottom: 4px solid #fff;
    bottom: 0;
    left: 40%;
    bottom: -50%;
    transform: translateX(-50%);
    height: 75%;
    /* Adjust the height as needed */
    border-image: linear-gradient(to right, var(--darkPurple), var(--lightBlue)) 1;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* MAIN PAGE + CONTACT PAGE HEADER */
.center {
    justify-content: center;
}

#main-page-conrtainer,
#contant-page-container {
    margin-top: 6vw;
    display: block;

}

#main-page-conrtainer h1,
#contant-page-container h1 {
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
    color: white;
    margin: 0 !important;
}

#main-page-conrtainer p,
#contant-page-container p {
    text-align: center;
    font-size: 1vw;
    font-weight: lighter;
    color: white;
    letter-spacing: 0.2vw;
}

#main-page-conrtainer h1 span,
#contant-page-container h1 span {
    background-image: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    color: transparent;
    /* Set text color to transparent */
}



/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* MAIN PAGE  */
#index-info {
    width: 32%;
    margin: 6vw auto;
}

#gpt-logo-holder img,
#learners-logo-holder img {
    height: 4vw;
    width: auto;
}

#gpt-logo-holder,
#learners-logo-holder {
    height: 5vw;
    width: fit-content;
    display: inline-block;
    margin-bottom: 1vw;

}

#gpt-info-holder,
#learners-info-holder {
    display: inline-block;
    text-align: left;
    width: auto !important;
    vertical-align: top;
    margin-left: 1vw;
    font-size: 1.3vw;
    color: white !important;
    white-space: nowrap;
    overflow: hidden;

    b {
        background: linear-gradient(to right, var(--lightBlue), var(--primary));
        -webkit-background-clip: text;
        color: transparent;
    }


}


#bg-effect {
    position: absolute !important;
    z-index: 1;
    bottom: 0;
    margin-bottom: -10vw !important;
    width: 100% !important;
    height: 40vw;
    vertical-align: bottom;
}

.main-page-conrtainer * {

    background-color: transparent;
}

/*  Watch the Video  */

.watch-video-section {
    width: 60vw !important;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 10vw auto;
}

.watch-video-section div {
    margin: 0 auto;
}

.watch-video-section img {
    width: 100% !important;
}

.watch-video-section h1 {
    font-size: 45px;
    margin-bottom: 20px;
    padding-left: 0;
    display: inline !important;
}

.watch-video-section .Know {
    color: white;
}

.watch-video-section .More {
    background: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    color: transparent;
}

.watch-video-section h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    /* Add margin to the bottom for spacing */
    color: white;
    font-weight: normal;
    /* Set font weight to normal */
    letter-spacing: 1.5px;
    /* Adjust letter spacing as needed */
    line-height: 1.5;
    /* Adjust the line height as needed */
}

.watch-video-section button {
    background-color: var(--dark);
    color: var(--darkPurple);
    border: 3px solid var(--darkPurple);
    /* Set border color */
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    /* Adjust the font size as needed */
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.watch-video-section button:hover {
    background-color: var(--darkPurple);
    color: white;
    border: 3px solid var(--darkPurple);
    /* Set border color */
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    /* Adjust the font size as needed */
}

.watch-video-section img {
    border-radius: 0.5vw;
}

#circular-text-container {
    position: absolute;
    top: 26vw;
    right: 32vw;
    margin: 0 auto;

}

/* Define styles for the text element */
#circular-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 30px;
}

#circular-text #text-image {
    height: 8vw;
}

#arrows-image {
    height: 3vw;
    width: 3vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#arrows-image-holder {
    position: absolute;
    top: 26vw;
    right: 29vw;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* CONTACT PAGE */

#contant-page-container form {
    width: 80vw;
    margin: 5vw auto;
}

#contant-page-container form label {
    color: white;
    display: inline-block;
    margin: 0 2%;
    font-weight: 100;
}

.half-input {
    width: 45%
}

.full-input {
    width: 95%;
}

#contant-page-container form .row input,
#contant-page-container form .row select,
#contant-page-container form .row textarea {
    background-color: var(--matte);
    border-style: none;
    padding: 2vw 0 2vw 1vw;
    border-radius: 1vw;
    outline: none;
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0.7vw 0 0 0;
    font-weight: lighter;
    color: white;
}

 /* Disable default resizing behavior */
#contant-page-container form .row select {
    width: 103%;
    padding-right: 20px;
    border-right: 16px solid transparent;
      
      
}

#contant-page-container .row {
    width: 100%;
    margin: 0 0 2vw 0;
}


#contant-page-container form input[type="submit"] {
    width: 7vw;
    background-color: var(--primary);
    border: none;
    padding: 1vw 0;
    border-radius: 50px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px var(--darkPurple); */
    /* Neon light effect */
    cursor: pointer;
    margin: 0.7vw 0 0 2%;
    font-weight: lighter;
    color: white;
    font-size: 0.7vw;
    transition: background-color 0.3s ease-in-out;
    /* Adjust the font size as needed */
}

#contant-page-container form input[type="submit"]:hover {
    background-color: var(--matte);
    /* Adjust the color and spread as needed */
}
/* Hide the default arrow */



/*  feedback form */ 

.feedback-section {
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Set border radius for the form */
    margin-top: 6vw;
}

.feedback-section fieldset {
    border: none; /* Remove the border */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    margin-left: 150px;
    margin-right:150px ;
    margin-bottom: 5px;
}

.feedback-section fieldset legend {
    margin-left: 20px; /* Set margin-left for the legend */
    color: white; /* Set text color to white */
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;

}

.feedback-section h1{
    font-size: 3vw;
    color: white; /* Set text color to white */
    text-align: center;
    margin-bottom: 50px;
    font-weight: 900;

}
.feedback-section .A {
    background-image: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    color: transparent;
    /* Set text color to transparent */}

.feedback-section .Feedback {
    background-image: linear-gradient(to right, var(--lightBlue), var(--darkPurple));
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    color: transparent;
    /* Set text color to transparent */}

.feedback-section h4 {
    color: white;
    text-align: center;

}

.feedback-section .SectionTwo,
.feedback-section .nameSection,
.feedback-section .SectionThree {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items at the start of the container */
    margin-bottom: 10px;
    margin-left: -60px;
}

.feedback-section .nameSection label,
.feedback-section .SectionTwo label,
.feedback-section .SectionThree label {
    width: 100%;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 90px; /* Adjust this value separately */

}

.feedback-section .nameSection .input,
.feedback-section .SectionTwo .input,
.feedback-section .SectionThree .input {
    width: 100%;
    margin-top: 30px;
    margin-left: -400px;
}

.feedback-section .nameSection .input input,
.feedback-section .SectionTwo .input input,
.feedback-section .SectionThree .input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    background-color: #2f2f2f;
    margin-top: 5px; /* Add margin between input boxes */
    outline: none; /* Remove the blue outline on focus */
    color: white; /* Set text color to white */
}

.feedback-details .label {
    width: 40%;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5px;
    margin-left: -585px;

}
.feedback-details .label1{
    width: 40%;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5px;
    margin-left: -780px;

}

.feedback-details .label2{
    width: 40%;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5px;
    margin-left: -710px;
}

.feedback-details .label3{
    width: 40%;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5px;
    margin-left: -320px;

}


.feedback-details input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.feedback-details label.radio-label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    display: inline-block;
    line-height: 20px; /* Adjust as needed */
    margin-right: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.feedback-details label.radio-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px; /* Adjust the size of the custom radio */
    height: 15px; /* Adjust the size of the custom radio */
    border: 2px solid #2f2f2f;
    border-radius: 50%;
    background-color: white;
}

.feedback-details input[type="radio"]:checked + label.radio-label::before {
    background-color: var(--lightBlue); /* Change to red when checked */
    border: none;
}

.feedback-details textarea {
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 30px;
    background-color: #2f2f2f;
    margin-left: 30px;
    color: white;
    outline: none; 
}

.feedback-details input[type="checkbox"] {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 10px;
  }
  
  .feedback-details .checkbox-label {
    width: auto;
    box-sizing: border-box;
    color: white;
    margin-bottom: 5px;
  }

#courseInterest {
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #2f2f2f;
    border-radius: 30px;
    background-color: #2f2f2f;
    margin-left: 30px;
    color: white;
    outline: none;
    
}

.feedback-section button {
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px var(--darkPurple); /* Neon light effect */
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 16px; /* Adjust the font size as needed */
    background-color: var(--darkPurple);
  
}

.feedback-section button[type="submit"]  {
    background-color: rgba(118, 61, 165, 0.945);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px var(--darkPurple); /* Neon light effect */
}

.error {
    color: red;
    font-size: small;
    display: block;
}






